<h1>Tasks</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @tasks.each do |task| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= task.name %></h5>
          <a href="#" class="btn btn-outline-primary mt-3">Run</a>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= task.created_at.strftime("%FT%T") %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
