<h1><%= title "Assets" %></h1>
<% if @task.runs.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Size</th>
      </tr>
    </thead>
    <tbody>
      <% @assets.each do |asset| %>
        <tr>
          <th scope="row">
            <%= link_to(asset.filename, asset) %>
          </th>
          <td>
            <%= asset.content_type %>
          </td>
          <td>
            <%= number_to_human_size(asset.blob.byte_size) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
