<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @run.task.name %> #<%= @run.sequential_id %></h1>

    <h2>Input</h2>
    <pre><code><%= @run.input %></code></pre>

    <h2>Output</h2>
    <pre><code><%= @run.output %></code></pre>
  </body>
</html>

