<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Runs</li>
  </ol>
</nav>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @runs.each do |run| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title"><%= link_to run.task.name, run %></h4>
        </div>
        <div class="card-footer">
          <div class="float-end"><%= run.state %></div>
          <small class="text-muted"><%= run.created_at.strftime("%FT%T") %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
